h1{
    color: #29333d;
    /* Side hamstring stretch */
    font-family: 'RedHatBold', sans-serif;
    font-weight: 600;
    font-size: 4em;
    line-height: 54px;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(129, 0, 202, 0.15);
}
.introText{
    color:#778592;
    justify-content: right;
    text-align: justify;
}

.buttonBack> .btn{
    /* width: 100%;
    background: #F1FF99;
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #8100CA;
    box-shadow: rgba(119, 133, 146, 0.2) 0px 2px 5px -1px, rgba(119, 133, 146, 0.25) 0px 1px 3px -1px;    
    border-radius: 3px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #8100CA; */
    width: 100%;
    border-radius:30px;
    background-color: #778591;
    color:#c8fc91;
    text-transform: uppercase;
    font-family:RedHatMedium;
    box-shadow: rgba(119, 133, 146, 0.2) 0px 2px 5px -0.7px, rgba(119, 133, 146, 0.25) 0px 1px 3px -0.7px;
    border:none;
}

.goalTime{
    color:#29333d;
    font-size: 3.2em;
    font-weight: 600;
    background-color: #c8fc91;
    border-radius: 15px;
    box-shadow: rgba(119, 133, 146, 0.2) 0px 2px 5px -1px, rgba(119, 133, 146, 0.25) 0px 1px 3px -1px;    
    font-family: "RedHatSemiBold";
}

.goalSubtitle{
    font-size: 20px;
    font-weight: 400;
}

.image{
    border-radius: 15px;
    box-shadow: rgba(119, 133, 146, 0.2) 0px 2px 5px -1px, rgba(119, 133, 146, 0.25) 0px 1px 3px -1px;    

}

.question{
    text-transform: uppercase;
    font-weight: 700;
    color:#778592;
    /* text-decoration: underline; */
    background-color: #c8fc91;
    border-radius: 15px;
    font-family: "RedHatSemiBold";
    padding:3px;
    padding-left:10px;
    box-shadow: rgba(119, 133, 146, 0.2) 0px 2px 5px -1px, rgba(119, 133, 146, 0.25) 0px 1px 3px -1px;    

}

@media screen and (max-width:992px){
    h1{
       font-size: 3.7em;
    }
}

@media screen and (max-width:768px){
    h1{
       font-size: 3.2em;
    }
    .goalTime{
        font-size: 2.9em;
    }
}

@media screen and (max-width:576px){
    h1{
       font-size: 2.8em;
    }
    .goalTime{
        font-size: 2.5em;
    }
}

@media screen and (max-width:490px){
 h1{
    font-size: 2.3em;
 }
 .goalTime{
    font-size: 1.9em;
}
}