/* .navbar{
    min-height: 75px;

} */
.navbar-brand>img{
    width:25%;
}
.hidden{
    display: none;
}
@media screen and (max-width: 1200px){
    .navbar-brand>img{
        width:35%;
    }
}
@media screen and (max-width: 992px){
    .navbar-brand>img{
        width:45%;
    }
}
@media screen and (max-width: 768px){
    .navbar-brand>img{
        width:50%;
    }
}
@media screen and (max-width: 576px){
    .navbar-brand>img{
        width:70%;
    }
}