    <ng-container *ngIf="data">
        <div class="container middle mb-5">
            <div class="row text-center imageRow">
                <div class="col-12 my-auto mx-auto colImage mb-3 mt-3">
                    <div class="stretchImage">
                        <img src={{data.image}} alt="" class="">
                    </div>
                </div>
            </div>
<!-- ................................................................................................................................ -->

            
<!-- ................................................................................................................................ -->
            <div class="containerText mb-3">

                <div class="row text-center imageRow stretchDesc p-1 align-items-center" (click)="descShow()">
                    <!-- <div class="row  inner d-flex align-items-center mt-2"> -->
                        <div class="col-10 col-xs-10 col-sm-10 col-md-10 col-lg-11 descText column p-0">
                            <div class="title">
                                <ng-container *ngIf="data.sides; else oneSide">
                                    <h1 class="stretchName m-0">{{data.name}} - {{side}} SIDE</h1>
                                </ng-container>
                                <ng-template #oneSide>
                                    <h1 class="stretchName m-0">{{data.name}}</h1>
                                </ng-template>
                            </div>
                        </div>
                        <div class="col-2 col-xs-2 col-sm-2 col-md-2 col-lg-1 descText column h1 text-center p-0 m-0 pe-0">
                            <fa-icon [icon]="faDown" class="me-2"></fa-icon>
                        </div>
                    </div>
    
                    <ul class="descList p-0 m-0 text-start pb-1 col-12"  [ngClass]="!showDesc? 'hide':''">
                        <ng-container *ngFor="let d of data.description; let j=index">
                            <li class="row d-flex">
                                <span [innerHTML]="circledNumbers[j]" class="pb-2 col-2 col-sm-2 col-md-1 col-lg-1 pe-0 align-items-center my-auto mx-auto text-center"></span> 
                                <span class="col-10 col-sm-10 col-md-11 col-lg-11 ps-0 pe-4 pb-2">
                                    {{d}}
                                </span>
                                </li>
                        </ng-container>
                    </ul>
                <!-- </div> -->

            </div>

            <div class="containerClock">
                <div class="row timerClockRow mt-2 mb-3 mx-auto">
                    <div class="col timerClock mx-auto text-center">
                        <span class="clock"></span>
                        <countdown #cd [config]="{leftTime: num, demand: true, format: 'm:s'}" class="timerClock"></countdown>
                    </div>
                <div class="row mx-auto mb-3">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 order-2 order-sm-1 stopButton text-end my-auto p-0 pe-2">
                        <button class="btn btnStart pt-1 pb-1" (click)="cd.stop(); stopCount()">
                           <div class="d-flex align-items-center">
                                <fa-icon [icon]="stopIcon" class="playIcon me-2"></fa-icon>
                                Stop
                            </div>
                        </button>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg playButton text-start my-auto p-0 ps-2 order-1 order-sm-2 ">
                        <button class="btn btnStart pt-1 pb-1" (click)="cd.restart(); cd.begin(); startCount(audioTone)" [disabled]="timeout?true:false">
                           <div class="d-flex align-items-center">
                                <fa-icon [icon]="playIcon" class="playIcon me-2"></fa-icon>
                                Start
                            </div>
                        </button>
                    </div>
                </div>
            </div>
                
            </div>
                    <div class="row d-flex justify-content-between btnNext mx-auto mb-5">
                        <div class="text-start col-12 col-xs-12 col-sm-6 p-1 mx-auto my-auto order-2 order-sm-1 d-flex backToMenu">
                            <div class="pt-1 pb-1 ps-2 pe-2">
                                <div class="align-items-center button" (click)="goBack()">
                                    <fa-icon [icon]="leftSign" class="me-2"></fa-icon>Back to menu</div>
                            </div>
                        </div>
                        <div class="text-end col-12 col-xs-12 col-sm-6 my-auto p-1 order-1 order-sm-2 nextStretch d-flex">
                            <div class="pt-1 pb-1 ps-2 pe-2">
                                <div class="button align-items-center" (click)="nextStretch()">
                                    Next Stretch <fa-icon [icon]="rightSign" class="ms-2"></fa-icon></div>
                            </div>
                        </div>
                    </div>

<!-- ................................................................................................................................ -->
            <audio src="../../../assets/data/Atone.mp3" id="my_audio" #audioTone></audio>

        </div>
    </ng-container>


