.container, .container-fluid{
    background-color: #f4f2f0;
    /* #F8FFCC; */
    overflow-x: hidden; 
    /* height: calc(100vh - 100px);  */
}

.stretchName{
    color: #0d0e10;
    /* #8100CA; */
    /* Side hamstring stretch */
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3em;
    line-height: 54px;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(129, 0, 202, 0.15);
}

.imageRow{
    width:80%;
    margin:0px auto;
    background-color: #c8fc91;
    /* #8100CA; */
    border-radius: 15px;
    filter: drop-shadow(3px 3px 7px rgba(129, 0, 202, 0.35));

}

img {
    /* max-width: 100%;
    max-height: 100%;
    overflow: hidden; */
    border-radius: 15px 0px 0px 15px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.descText{
    border-color: #0d0e10;
    /* #8100CA; */
    border-radius: 0px 15px 15px 0px;
}

ul.descList{
    list-style-type: none;  
    color: #0d0e10;
    /* #F1FF99; */
}

:host .timerClock{
    font-size:75px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    color: #FF68B8;
}

.buttonStart>.btn{
    width:100%;
    background: #8100CA;
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #F1FF99;
    box-shadow: 2px 2px 10px rgba(129, 0, 202, 0.3);
    border-radius: 3px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 3%;
    color: #F1FF99;
}

.row.button{
    width:70%;
    margin:0px auto;
}

.buttonBack> .btn{
    width: 100%;
    background: #F1FF99;
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #8100CA;
    box-shadow: 2px 2px 10px rgba(129, 0, 202, 0.3);
    border-radius: 3px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #8100CA;

}

footer{
    border-top: 0.6px solid pink;
}

@media screen and (max-width:992px){
    img{
        border-radius: 15px 15px 0px 0px;
    }
    .descText{
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 18px;
    }
    .stretchName{
        font-size: 2.5em;
    }
}

@media screen and (max-width:768px){
    .row.button{
        width:100%;

    }
    .stretchName{
        font-size: 2.2em;
    }
}


