.content{
    /* display: flex;
    flex-flow: column; */
    position: relative;
    min-height: 100vh;
}

.innerContent{
    /* flex:1; */
    padding-bottom: 2.5rem;    /* Footer height */
}

app-footer{
    flex:auto;
    position:absolute;
    bottom: 0;
    width: 100%;
}