<footer class="text-center">
    <div class="row d-flex flex-wrap justify-content-between align-items-center py-3 mt-3 mx-0">
        <p class="col-xs-12 col-sm-12 col-md-4 mb-0 order-xs-last order-sm-last">© 2023 Company, Inc</p>
      
          <!-- <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          </a> -->
      
          <ul class="col-xs-12 col-sm-12 order-xxs-0 nav col-md-6 justify-content-center px-0 order-first order-xs-first order-sm-first order-md-last order-lg-last order-xl-last">
            <li class="nav-item"><a [routerLink]="['welcome']" class="px-2">Intro page</a></li>
            <li class="nav-item"><a [routerLink]="['help']" class="px-2">How to use</a></li>
            <li class="nav-item"><a href = "mailto: shiziks@hotmail.com" class="px-2">Contact me</a></li>
          </ul>
    </div>
</footer>
