footer{
    margin: 0px auto;
    color:#788591;
    position:relative;
    /* bottom:0px; */
    /* z-index: 0;
    height: 100px;
    width: 100%;
    position: fixed; 
    bottom: 0px; 
    overflow: hidden; */
}
footer>.row{
    max-width: 100%;
}
footer>p, ul>li>a{
    color:#788591;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-decoration: none;
}