/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: RedHatSemiBold;
    src: url(./assets/data/fonts/rh/RedHatDisplay-SemiBold.ttf);
}
@font-face {
    font-family: RedHatRegular;
    src: url(./assets/data/fonts/rh/RedHatDisplay-Regular.ttf);
}
@font-face {
    font-family: RedHatLight;
    src: url(./assets/data/fonts/rh/RedHatDisplay-Light.ttf);
}
@font-face {
    font-family: RedHatMedium;
    src: url(./assets/data/fonts/rh/RedHatDisplay-Medium.ttf);
}

@font-face {
    font-family: RedHatBold;
    src: url(./assets/data/fonts/rh/RedHatDisplay-Bold.ttf);
}

body{
    background-color: #f0f3f4;
    /* #F8FFCC; */
    margin: 0;
    padding: 0;
    /* height: calc(100vh - 100px); */
    font-family: 'RedHatRegular';
    color: #303c48;
}

body.gradient{
    background: rgb(129,0,202);
    background: linear-gradient(208deg, rgba(129,0,202,1) 4%, rgba(174,76,213,1) 24%, rgba(239,178,226,1) 48%, rgba(248,255,204,1) 76%, rgba(241,255,153,1) 91%);
    height: 100vh;
    width: 100%;
    display: block;
}

